img.download
{
	max-height: 100px;
	margin: auto;
	display: block;
	border: 0px;
}

td
{
	padding-bottom:40px;
}

#downloadtable
{
	width: 700px;
}

input.download
{
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	float: right;
	position: relative;
	width: 125px;
	height: 30px;
	padding: 2px;
}


input.download:hover
{
	border-color: #5f5f5f;
}

input.button
{
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	width: 230px;
	height: 30px;
	padding-right: 10px;
}

input.button:hover
{
	border-color: #5f5f5f;
}

#view
{
	width: 640px;
	height: 400px;
	margin-left: 30px;
}

#load
{
	width: 48px;
	margin-left: 326px;
}