#works
{
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	width: 500px;
	display: block;
	margin: auto;
}

#content
{
	width: 500px;
}

#addCharity
{
	width: 120px;
	height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	align: center;
}

#addCharity:hover
{
	border-color: #5f5f5f;
}