body
{	
	width: 1100px;
	margin: auto;
}

#logo
{
	width: 415px;
	margin: auto;
	margin-top: 75px;
	display: block;
	border: 0px;
}

#how
{
	display: block;
	margin-top: -50px;
	margin-right: 80px;
	float: right;
	border: 0px;
	width: 175px;
}

#searchbarIndex
{
	font-family: Trebuchet MS;
	width: 565px;
	height: 19px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
}

#searchbarIndex2
{
	font-family: Trebuchet MS;
	width: 696px;
	height: 19px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
}

#addCharity
{
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	font-size: 9.5pt;
	float: right;
	position: relative;
	width: 120px;
	height: 25px;
	padding: 2px;
}

#addCharity:hover
{
	border-color: #5f5f5f;
}

#explain
{
	position: absolute;
	margin-top: 6px;
	margin-left: 7px;
	color: #878787;
	pointer-events: none;
}

#helpbox
{
	margin-top: 8px;
	width: 680px;
	padding: 10px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	font-size: 14px;
	color: #7c7c7c;
	text-align: center;
}

#help
{
	font-size: 16px;
	color: #646464;
}

#help:hover
{
	font-weight: bold;
}

hr
{
	color: #c4c4c4;
}

#error1
{
	text-align:center;
	color: #646464;
}

#junk
{
	display: none;
}

#error2
{
	text-align:center;
	color: #7c7c7c;
}
